<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome-4.3.0/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/analysis/analysis.css">
</head>
<body>

<div id = 'logout'>
	<form action = "/analysis/supersecret/platinum/platupi/logout" method = 'POST' id = 'admin_logout'>
		<button class = 'fa fa-sign-out fa-2x'></button>
	</form>
</div>

<section id = 'dashboard'>
	<div>
		<img src="/images/platupi/hat_2.png">
	</div>
	<div>
		<h1>Our Analytics are Strict but Fair, Like the Russian Police.</h1>
	</div>
</section>



<section id = 'trips'>
	<div class = 'heading'>
		<h1>Trips</h1>
	</div>
	<div id = 'trip_info' class = 'body'>
		<div>
		<table class = 'table_style' id = 'totals_table'>
			<tr>
				<th>Data Type</th>
				<th>Data</th>
			</tr>

		</table>
		</div>
	</div>

</section>

<section id = 'user'>

	<div class = 'heading'>
		<h1>Users</h1>
	</div>

	<div  id = 'user_table' class = 'table_style'>
		<div>
		<table>
		  <tr>
		    <th>User Id</th>
		    <th>Date Account Created</th>
		    <th>Time Account Created</th>
		  </tr>
		</table>
		</div>
	</div>

</section>




<section id = 'session'>

		<div class = 'heading'>
			<h1>Sessions (Beta)</h1>
		</div>

		<div id = 'account_login' class = 'body'>

			<div>
				<div>
				<h2>Account:</h2>
					<table>
						<tr>
							<td>Total Accounts</td>
							<td id = 'total_accounts'></td>
						</tr>
					</table>
				</div>
			</div>


			<div>
				<div>
				<h2>New Accounts:</h2>
				
				<table class = 'table_style'>
					<tr>
						<td>Last 24Hours:</td>
						<td id = 'new_accounts_day'></td>
					</tr>
					<tr>
						<td>Last Week:</td>
						<td id = 'new_accounts_week'></td>
					</tr>
					<tr>
						<td>Last Month:</td>
						<td id = 'new_accounts_month'></td>
					</tr>
					<tr>
						<td>Last 3 Months:</td>
						<td id = 'new_accounts_three_months'></td>
					</tr>
					<tr>
						<td>Last Year:</td>
						<td id = 'new_accounts_year'></td>
					</tr>
				</table>
				</div>
			</div>


			<div>
				<div>
				<h2>Logins:</h2>

				<table class = 'table_style'>
					<tr>
						<td>Total Logins</td>
						<td id = 'total_logins'></td>
					</tr>
					<tr>
						<td>Logins 24Hours</td>
						<td id = 'day_logins'></td>
					</tr>
					<tr>
						<td>Logins Week</td>
						<td id = 'week_logins'></td>
					</tr>
					<tr>
						<td>Logins Month</td>
						<td id = 'month_logins'></td>
					</tr>
					<tr>
						<td>Logins 3 Months:</td>
						<td id = 'three_month_logins'></td>
					</tr>
					<tr>
						<td>Logins Year</td>
						<td id = 'year_logins'></td>
					</tr>
				</table>
				</div>
			</div>

		</div><!-- end body -->




</section>




<script type="text/javascript" src = '/javascripts/vendors/jquery-2.1.3.js'></script>
<script type="text/javascript" src = '/javascripts/analysis/momentsjs.js'></script>
<script type="text/javascript" src = '/javascripts/analysis/users.js'></script>



</body>
</html>



