<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/analysis/analysis.css">
</head>
<body>


<section id = 'dashboard'>
	<div>
		<img src="/images/platupi/hat_2.png">
	</div>
	<div>
		<h1>Our Analytics are Strict but Fair, Like the Russian Police.</h1>
	</div>
</section>


<section id = 'user'>

	<div class = 'heading'>
		<h1>Users</h1>
	</div>

	<div  id = 'user_table' class = 'table_style'>
		<div>
		<table>
		  <tr>
		    <th>User Id</th>
		    <th>Date Account Created</th>
		    <th>Time Account Created</th>
		  </tr>
		</table>
		</div>
	</div>

</section>




<section id = 'session'>

		<div class = 'heading'>
			<h1>Sessions</h1>
		</div>

		<div id = 'account_login' class = 'body'>

			<div>
				<div>
				<h2>Account:</h2>
					<table>
						<tr>
							<td>Total Accounts</td>
							<td id = 'total_accounts'></td>
						</tr>
					</table>
				</div>
			</div>


			<div>
				<div>
				<h2>New Accounts:</h2>
				
				<table class = 'table_style'>
					<tr>
						<td>Last 24Hours:</td>
						<td id = 'new_accounts_day'></td>
					</tr>
					<tr>
						<td>Last Week:</td>
						<td id = 'new_accounts_week'></td>
					</tr>
					<tr>
						<td>Last Month:</td>
						<td id = 'new_accounts_month'></td>
					</tr>
					<tr>
						<td>Last 3 Months:</td>
						<td id = 'new_accounts_three_months'></td>
					</tr>
					<tr>
						<td>Last Year:</td>
						<td id = 'new_accounts_year'></td>
					</tr>
				</table>
				</div>
			</div>


			<div>
				<div>
				<h2>Logins:</h2>

				<table class = 'table_style'>
					<tr>
						<td>Total Logins</td>
						<td id = 'total_logins'></td>
					</tr>
					<tr>
						<td>Logins 24Hours</td>
						<td id = 'day_logins'></td>
					</tr>
					<tr>
						<td>Logins Week</td>
						<td id = 'week_logins'></td>
					</tr>
					<tr>
						<td>Logins Month</td>
						<td id = 'month_logins'></td>
					</tr>
					<tr>
						<td>Logins 3 Months:</td>
						<td id = 'three_month_logins'></td>
					</tr>
					<tr>
						<td>Logins Year</td>
						<td id = 'year_logins'></td>
					</tr>
				</table>
				</div>
			</div>
<!-- 			<h4>Total Sessions:</h4>
			<h2 id = 'total_sessions'></h2>

			<h4>Total Current Sessions:</h4>
			<h2 id = 'current_sessions'></h2>

			<h4>Total Sessions this Week:</h4>
			<h2 id = 'total_sessions_week'></h2>

			<h4>Total Sessions this Month:</h4>
			<h2 id = 'total_sessions_month'></h2>

			<h4>Total Sessions this Year:</h4>
			<h2 id = 'total_sessions_year'></h2> -->

		</div><!-- end body -->




</section>


<section id = 'trips'>
	<div class = 'heading'>
		<h1>Trips</h1>
	</div>
	<div class = 'body'>


	</div>

</section>

<script type="text/javascript" src = '/javascripts/vendors/jquery-2.1.3.js'></script>
<script type="text/javascript" src = '/javascripts/analysis/momentsjs.js'></script>
<script type="text/javascript" src = '/javascripts/analysis/users.js'></script>



</body>
</html>



