<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/analysis/analysis.css">
</head>
<body>

<section id = 'login_page'>
		<div>
			<div>
				<img src="/images/platupi/hat_1.png">
				<h2>Super Secret Sign-in Yo</h2>
			</div>
		</div>

		<div>
			<div>
			<h2>Sign In</h2>
			<form action = "/analysis/supersecret/platinum/platupi/session" method = "POST">
				<label>Secret Username:</label>
				<input type = 'text' name = "username">
				<label>Secret Password:</label>
				<input type = 'password' name = "password">
				<button>Submit</button>
			</form>
			</div>
		</div>
</section>

</body>
</html>