<!DOCTYPE html>
<html>
<head>
	<title></title>

<!-- 	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css"> -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
	
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

	<link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome-4.3.0/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/modal_stylesheet.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/chat.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css">

</head>
<body>

<!-- MODALS -->
<!-- trip modal -->
<% include partials/modals/index_trip.ejs %>
<!-- category modal -->
<% include partials/modals/index_category.ejs %>
<!-- suggestion modal -->
<% include partials/modals/index_suggestion.ejs %>
<!-- friends -->
<% include partials/modals/index_friend.ejs %>
<!-- invite friends -->
<% include partials/modals/index_invite.ejs %>


<header id = 'heading_container'>
	<div id = 'trip_container'>
		<!-- the content is appeneded through js -->
		<h1 id = 'current_trip'>+ Add Trips<span class = 'fa fa-arrow-down'></span></h1>
	</div>

	<nav id = 'heading_nav'>
		<ul>
			<li><span class = 'fa fa-search fa-2x'></span></li>
			<li><span class = 'fa fa-bell-o fa-2x'></span></li>
			<li>
				<form action = '/users/logout' method = 'POST'>
				<button class = 'fa fa-sign-out fa-2x'></button>
				</form>
			</li>
			<li><img src="/images/users.jpg"></li>
			<li><span class = 'fa fa-arrow-down'></span></li>
		</ul>
	</nav>
</header>






<section id = 'main_container'>
	<nav>
		<div id = 'main_nav'>
			<h1 id = 'group_chat'>Group Chat</h1>
			<div id = 'categories_nav'>
				<h1>Categories</h1>
				<h3 id = 'add_category'>+ Create New Category</h3>
				<div id = 'categories'></div>
				<!-- <h4>+ 2 More</h4> -->
			</div>
			<div id = 'friends_nav'>
				<h1>Friends Attending</h1>
				<h3 id = 'add_friend'>+ Add Friends</h3>
				<h3 id = 'invite_friends'>+ Invite Friends</h3>
				<div id = 'friends'>
					
				</div>
				<!-- <h4>+ 7 More</h4> -->
			</div>
		</div>
		<div id = 'calendar'>
			<img src="/images/calendar.jpg">
		</div>
	</nav>






	<!-- start suggestions -->
	<div id = 'suggestions'>
		<div id = 'suggestion_header'>
			<h1>+ Create New Suggestion</h1>
		</div>
		<div id = 'suggestion_content'>
		<!-- also has the id of the suggestion's id number -->
<!-- 			<div class = 'suggestion_card'>
				<div class = 'suggestion_info'>
					<div>
						<h1>Suggestion Title</h1>
						<h2>By: Jamie</h2>
						<h3>April 25th, 2015</h3>
					</div>
				</div>
				<div class = 'suggestion_voting'>
						<div>
							<div>
								<span class = 'fa fa-arrow-circle-up fa-2x green'></span>
								<h2 class = 'suggestion_upvote_count'>0</h2>
							</div>
							<div>
								<span class = 'fa fa-arrow-circle-down fa-2x red'></span>
								<h2 class = 'suggestion_downvote_count'>0</h2>
							</div>
						</div>
				</div>
			</div> -->





		</div>
	</div>

 

	<div id = 'comments_container'>
		<div id = 'comment_suggestion'>
			<div id = 'comment_suggestion_info'>
				<p id = 'suggestion_name'>Brian Smith</p>
				<p id = 'suggestion_date'>10/23/2015</p>
			</div>
			<div>
				<div id = 'comment_suggestion_content'>
					<div>
						<div>
							<img src="/images/users.jpg">
						</div>
					</div>
					<div>
						<p id = 'suggestion_comment_about'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua.</p>
						<a id = 'suggestion_comment_link' href='https://www.google.com/' target = 'blank'>Link: TripAdvisor</a>
					</div>
					<div>
						<div>
							<span id = 'upvote' class = 'fa fa-arrow-circle-up fa-3x green'></span>
							<h2 id = 'comment_suggestion_upvote'>0</h2>
						</div>
						<div>
							<span id = 'downvote' class = 'fa fa-arrow-circle-down fa-3x red'></span>
							<h2 id = 'comment_suggestion_downvote'>0</h2>
						</div>
					</div>
				</div>
			</div>
			<!-- <h1>Comments <span class = 'fa fa-plus'></span></h1> -->
		</div>
		<div id = 'comments'>

<!-- 			<div class = 'comment_card'>
				<div>
					<img src="/images/users.jpg">
				</div>
				<div class = 'comment_info'>
					<div>
						<div>
							<h2>Jamie</h2>
							<h2>12/21/2015</h2>
						</div>
						<h3>This is about the comment I'm making blah blah blah....
						and this is more of the comment.... and this is even more
						of my comments.</h3>
					</div>
				</div>
			</div> -->





		</div>
		<div id = 'comment_input'>
			<div>
				<textarea id = 'comment_input_area' placeholder = 'Enter Comment'></textarea>
				<button id = 'comment_submit'><span class = 'fa fa-paper-plane'></span></button>
			</div>
		</div>
	</div>
<!-- 	<div id = 'chat_section'>
		
	</div> -->

	<div id = 'chat_container'>
		<h2>Group Chat</h2>
		<div id = 'chat'>
<!-- 			<div class = 'chat_card_current'>
				<h3>Tiffany</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<div class = 'chat_card'>
				<h3>Karl</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<div class = 'chat_card_current'>
				<h3>Tiffany</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<div class = 'chat_card'>
				<h3>Karl</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div> --> 
		</div>
		<div id = 'chat_input'>
			<div>
				<input id = 'chat_input_box'>
				<button id = 'chat_submit'>Submit</button>
			</div>
		</div>
	</div>

</section>

<script type="text/javascript" src = '/javascripts/vendors/jquery-2.1.3.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script type="text/javascript" src = '/javascripts/modals.js'></script>
<script type="text/javascript" src = '/javascripts/api_stuff.js'></script>
<script type="text/javascript" src = '/javascripts/upvote_downvote.js'></script>
<script type="text/javascript" src = '/javascripts/friends.js'></script>
<script type="text/javascript" src = '/javascripts/chat.js'></script>




</body>
</html>