<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<title>Tripper</title>

	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css">
	<link href='http://fonts.googleapis.com/css?family=Gilda+Display|Quicksand:300,400,700|Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400|Oxygen:400,300,700|Hind:400,300,700,600,500|Quattrocento:400,700|Gabriela' rel='stylesheet' type='text/css'>
	


	<link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome-4.3.0/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/modal_stylesheet.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/chat.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/direct_message.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css">


</head>
<body>

<!-- MODALS -->
<!-- trip modal -->
<% include partials/modals/index_trip.ejs %>
<!-- category modal -->
<% include partials/modals/index_category.ejs %>
<!-- suggestion modal -->
<% include partials/modals/index_suggestion.ejs %>
<!-- friends -->
<% include partials/modals/index_friend.ejs %>
<!-- platupi -->
<% include partials/modals/index_platupi.ejs %>

<!-- edit suggestion -->
<% include partials/modals/index_suggestion_edit.ejs %>
<!-- edit comment -->
<% include partials/modals/index_comment_edit.ejs %>
<!-- archive recover -->
<% include partials/modals/archive.ejs %>


<!-- <div class = 'draggable'> -->
<!-- 	<div class = 'dm_header'>
		<h4>name</h4>
	</div>
	<div class = 'dm_messages'>
	</div>
	<div class = 'dm_input'>
		<input>
	</div> -->
<!-- </div> -->

<div id = 'dropdown_menu'>
	<ul>
		<li id = 'add_platupi'>Change </br>Your Avatar</li>
		<li>
			<form action = '/users/logout' method = 'POST'>
				<button>Logout</button>
			</form>
		</li>
		<li id = 'recover_archive'>Recover Archived</li>
	</ul>
</div>







<header id = 'heading_container'>
	<div id = 'trip_container'>
		<!-- the content is appeneded through js -->
		<h1 id = 'current_trip'>+ Add Trips<!-- <span class = 'fa fa-arrow-down'></span> --></h1>
	</div>

	<div id = 'add_friend_nav'>
		<div id = 'add_friend'>
			<span class = 'fa fa-user fa-2x'></span>
			<span class = 'fa fa-plus'></span>
		</div>
	</div>

	<nav id = 'heading_nav'>
		<ul>

			<li>
				<div class = 'background_button' id = 'explore'>
					<span class = 'fa fa-globe fa-2x'></span>
				</div>
			</li>
<!-- 			<li>
				<div class = 'background_button'>
					<span class = 'fa fa-plane fa-2x'></span>
				</div>
			</li>
			<li>
				<div class = 'background_button'>
					<span class = 'fa fa-calendar fa-2x'></span>
				</div>
			</li>
			<li>
				<div class = 'background_button'>
					<span class = 'fa fa-usd fa-2x'></span>
				</div>
			</li> -->

			<li>
				<div class = 'background_button' id = 'group_chat'>
					<span class = 'fa fa-paragraph fa-2x'></span>
				</div>
			</li>


			<li><img id = 'dropdown_menu_trigger' class = 'current_user_avatar' src="images/users.jpg"></li>
<!-- 			<li>
				<div class = 'background_button'>
					<form action = '/users/logout' method = 'POST'>
						<button><span class = 'fa fa-sign-out fa-2x'></span></button>
					</form>
				</div>
			</li> -->
		</ul>


	</nav>
</header>





<section id = 'main_container'>
	
	<div id = 'map-container'>



		<div id="map-canvas"></div>

		<div id = 'about_place'>
			<button id = 'close_about_place'><span class = 'fa fa-times'></span></button>
		</div>


		<div id = 'map_button'>
			<span id = 'open_button' class = 'fa fa-long-arrow-right fa-2x'></span>
		</div>

		<div id = 'map_suggestions'>
			<div id = 'map_search'>
				<input>
				<button>Find</button>
			</div>
			<div>
				<button id = 'find_food' class = 'search_button'>Food</button>
				<button id = 'find_lodging' class = 'search_button'>Lodging</button>
				<button id = 'find_nightlife' class = 'search_button'>Nightlife</button>
				<button id = 'find_culture' class = 'search_button'>Culture</button>
				<button id = 'find_parks' class = 'search_button'>Parks</button>
				<button id = 'find_shopping' class = 'search_button'>Shopping</button>
			</div>
			<div id = 'search-suggestions'>
<!-- 				<div class = 'search_suggestion_card'>
					<h3>Craft Bar</h3>
					<p>5 Stars</p>
				</div>
				<div class = 'search_suggestion_card'>
					<h3>Craft Bar</h3>
					<p>5 Stars</p>
				</div>
				<div class = 'search_suggestion_card'>
					<h3>Craft Bar</h3>
					<p>5 Stars</p>
				</div> -->
			</div>
		</div>

		<div id = 'suggestion_container'>
			<nav>
				<div id = 'main_nav'>
					<div id = 'categories_nav'>
						<h1>Categories</h1>
						<div id = 'categories'></div>
					</div>

				</div>
			</nav>

			<!-- start suggestions -->
			<div id = 'suggestions'>
				<div id = 'suggestion_header'>
					<h1>+ Create New Suggestion</h1>
				</div>
				<div id = 'suggestion_content'></div>
			</div>

			<!-- <div id = 'voting_hover_div'></div> -->

		</div>

	</div>



<!-- Chats are here -->
	<div id = 'chat_container'>
		<div>
			<!-- <h2>Group Chat</h2> -->
			<div id = 'chat'></div>

			<div id = 'chat_input'>
				<div>
					<textarea id = 'chat_input_box'></textarea>
					<button id = 'chat_submit'><span class = 'fa fa-paper-plane fa-3x'></span></button>
				</div>
			</div>
		</div>
	</div>

</section>

<script type="text/javascript" src = '/javascripts/vendors/jquery-2.1.3.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
<script type="text/javascript" src = '/javascripts/modals.js'></script>
<script type="text/javascript" src = '/javascripts/chat.js'></script>
<script type="text/javascript" src = '/javascripts/maps.js'></script>
<script type="text/javascript" src = '/javascripts/index.js'></script>
<!-- <script type="text/javascript" src = '/javascripts/api_stuff.js'></script> -->
<script type="text/javascript" src = '/javascripts/upvote_downvote.js'></script>
<script type="text/javascript" src = '/javascripts/friends.js'></script>
<script type="text/javascript" src = '/javascripts/platupi.js'></script>
<script type="text/javascript" src = '/javascripts/delete.js'></script>
<script type="text/javascript" src = '/javascripts/recover_archive.js'></script>
<script type="text/javascript" src = '/javascripts/direct_message.js'></script>


<% include partials/analytics/script.ejs %>

<script type="text/javascript"></script>


</body>
</html>