<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <form action = "users/logout" method = "POST">
        <button>Logout</button>
    </form>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <h1>Users</h1>


    <h1>Trips</h1>
    <form action = "/trips" method = "POST">
    	<input type="text" name="location" placeholder= "location name">
    	<input type="text" name="title" placeholder= "title">
    	<input type="text" name="description" placeholder = "description">
    	<input type="text" name="duration" placeholder = "duration">
    	<input type="text" name="start_date" placeholder = "Start Date">
    	<input type="text" name="finish_date" placeholder = "Finish Date">
    	<input type="submit">
    </form>

    <h1>Categories</h1>
    <form action = "/categories" method = "POST">    
        <input type="text" name="name" placeholder= "category_name">
        <input type="submit">
    </form>

    <h1>Suggestions</h1>
    <form action = "/suggestions" method = "POST">
        <input type="text" name="title" placeholder= "title">
        <input type="text" name="content" placeholder= "content">
        <input type="text" name="link" placeholder = "link">
        <input type="submit">
    </form>

    <h1>Comments</h1>
     <form action = "/comments" method = "POST">
        <input type="hidden" name="user_id" value= '551b0bfd96da0feb81e8097f' > 
        <input type="text" name="content" placeholder= "content">
        <input type="submit">
    </form>

    <script type="text/javascript">

    var current_url = document.URL;
    var current_trip;
    var current_category;
    var current_suggestion;

    // GET ajax call
    var ajaxCall = function(string){
        return function(){
        var url = string;
        var xhr = new XMLHttpRequest();
        xhr.addEventListener('load', function(e) {
            var d = xhr.responseText;
            var parsed = JSON.parse(d);
            console.log(parsed);
            return parsed
        })
        xhr.open("GET", url);
        xhr.send();
     }
    }

    //gets the user's info
    var getUser = ajaxCall(current_url + 'users/stuff');
    //gets that User's trips
    var getUserTrips = ajaxCall(current_url + 'trips');

    getUser();
    getUserTrips();



    </script>   
  </body>
</html>
