/*trip modal stylesheet*/
#overlay {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     z-index: 1000;
     background-color: rgba( 0, 0, 0, 0.5);
     display: flex; display: -webkit-flex;
}

#overlay > div {
     width: 500px;
     height: 500px;
     margin: auto;
     background-color: rgb(255, 255, 255);
     padding: 25px 15px 15px 50px;

}

#overlay > div > div{
     height: 400px;
     width: 400px;
}

#overlay h3{
     font-size: 2em;
     margin-left: 20px;
     margin-bottom: 20px;
     font-weight: bold;
}

#overlay h4{
     font-size: 1em;
     font-style: italic;
     margin-left: 20px;
}


#modal_close{
	position: relative;
	float: right;
	border: none;
	background-color: white;
	font-weight: bold;
}

#trip_list{
     width: 80%;
     height: 70%;
     overflow: scroll;
     margin-top: 20px;
     margin-left: 20px;
}

#make_trip_content{
     display: none;
     flex-direction: column; -webkit-flex-direction: column;
}

#make_trip_content h5{
     padding: 10px 0 10px 0;
     margin-left: 20px;
}

#make_trip_content input{
     width: 300px;
     font-size: 1.25em;
     margin-left: 20px;
}

#make_trip_content button{
     width: 80px;
     margin-top: 20px;
     margin-left: 20px;
     padding: 5px;
     font-size: 1.25em;
     border-radius: 10px;
     background-color: orange;
     color: white;
     border: none;
}

.trip_card{
     background-color: grey;
}

.trip_card_selected{
     background-color: orange;
}








/*suggestion modal*/
#suggestion_modal {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     z-index: 1000;
     background-color: rgba( 0, 0, 0, 0.5);
     display: flex; display: -webkit-flex;
}

#suggestion_modal > div {
     width: 500px;
     height: 400px;
     margin: auto;
     background-color: rgb(255, 255, 255);
     padding:30px 40px 15px 50px;
}




#suggestion_modal h3{
     font-size: 1.5em;
     margin-bottom: 30px;
}

#suggestion_input{
     display: flex; display: -webkit-flex;
     flex-direction: column; -webkit-flex-direction: column;
}

#suggestion_input p{
     margin-bottom: 15px;
}

#suggestion_input input{
     width: 300px;
     font-size: 1.25em;
     margin-bottom: 25px;
}


#suggestion_close{
     position: relative;
     float: right;
     border: none;
     background-color: white;
     font-weight: bold;
}





/*comment modal*/
#category_modal {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     z-index: 1000;
     background-color: rgba( 0, 0, 0, 0.5);
     display: flex; display: -webkit-flex;
}

#category_modal > div {
     width: 500px;
     height: 400px;
     margin: auto;
     background-color: rgb(255, 255, 255);
     padding:30px 40px 15px 50px;
}

#category_modal h2{
     font-size: 2em;
     margin-bottom: 50px;
     font-weight: bold;
}

#category_close{
     position: relative;
     float: right;
     border: none;
     background-color: white;
     font-weight: bold;
}

#category_input{
     display: flex; display: -webkit-flex;
     flex-direction: column; -webkit-flex-direction: column;
}

#category_input h3{
     font-size: 1.5em;
     margin-bottom: 20px;
}

#category_title{
     width: 250px;
     font-size: 1.25em;
     margin-bottom: 30px;
}

#category_title:focus{
     outline: none;
}

#category_submit{
     width: 100px;
     outline: none;
     border: none;
     border-radius: 5px;
     font-size: 1em;
     padding: 5px;

}




/*friend modal*/
#friend_modal {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     z-index: 1000;
     background-color: rgba( 0, 0, 0, 0.5);
     display: flex; display: -webkit-flex;
}

#friend_modal > div {
     width: 500px;
     height: 400px;
     margin: auto;
     background-color: rgb(255, 255, 255);
     padding:30px 40px 15px 50px;
}

#friend_modal h2{
     font-size: 2em;
     margin-bottom: 50px;
     font-weight: bold;
}

#friend_close{
     position: relative;
     float: right;
     border: none;
     background-color: white;
     font-weight: bold;
}

#friend_input{
     display: flex; display: -webkit-flex;
     flex-direction: column; -webkit-flex-direction: column;
}

#friend_modal h3{
     font-size: 1.5em;
     margin-bottom: 20px;
}

#friend_title{
     width: 250px;
     font-size: 1.25em;
     margin-bottom: 30px;
}

#friend_title:focus{
     outline: none;
}

#find_friend_submit{
     width: 100px;
     outline: none;
     border: none;
     border-radius: 5px;
     font-size: 1em;
     padding: 5px;

}

#found_friends{
     width: 400px;
     height: 200px;
}





/*comment modal*/
#invite_modal {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     z-index: 1000;
     background-color: rgba( 0, 0, 0, 0.5);
     display: flex; display: -webkit-flex;
}

#invite_modal > div {
     width: 750px;
     height: 300px;
     margin: auto;
     background-color: rgb(255, 255, 255);
     padding:30px 40px 15px 50px;
     cursor: default;
}


#invite_modal h2{
     font-size: 2em;
     margin-bottom: 50px;
     font-weight: bold;
}

#invite_modal h3{
     font-size: 1em;
     margin-bottom: 50px;
     font-weight: bold;
}

#invite_modal a{
     color: blue;
     /*cursor: text;*/
}

#invite_close{
     position: relative;
     float: right;
     border: none;
     background-color: white;
     font-weight: bold;
}





/*suggestion modal*/
#edit_modal {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     z-index: 1000;
     background-color: rgba( 0, 0, 0, 0.5);
     display: flex; display: -webkit-flex;
}

#edit_modal > div {
     width: 500px;
     height: 500px;
     margin: auto;
     background-color: rgb(255, 255, 255);
     padding:30px 40px 15px 50px;
}




#edit_modal h3{
     font-size: 1.5em;
     margin-bottom: 30px;
}

#edit_input{
     display: flex; display: -webkit-flex;
     flex-direction: column; -webkit-flex-direction: column;
}

#edit_input p{
     margin-bottom: 15px;
}

#edit_input input{
     width: 300px;
     font-size: 1.25em;
     margin-bottom: 25px;
}


#edit_close{
     position: relative;
     float: right;
     border: none;
     background-color: white;
     font-weight: bold;
}





/*suggestion modal*/
#edit_comment_modal {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     z-index: 1000;
     background-color: rgba( 0, 0, 0, 0.5);
     display: flex; display: -webkit-flex;
}

#edit_comment_modal > div {
     width: 500px;
     height: 500px;
     margin: auto;
     background-color: rgb(255, 255, 255);
     padding:30px 40px 15px 50px;
}

#edit_comment_modal h3{
     font-size: 1.5em;
     margin-bottom: 30px;
}

#comment_edit_input{
     display: flex; display: -webkit-flex;
     flex-direction: column; -webkit-flex-direction: column;
}

#comment_edit_input p{
     margin-bottom: 15px;
}

#comment_edit_input input{
     width: 300px;
     font-size: 1.25em;
     margin-bottom: 25px;
}


#edit_comment_close{
     position: relative;
     float: right;
     border: none;
     background-color: white;
     font-weight: bold;
}