/*dark blue #2f3743
2nd dark blue #425061
blue #1e87c1
light grey #d6dde0
red #F33533
green #98C06A*/

#dropdown_menu{
     display:none;
     position: absolute;
     width: 175px;
     background-color: #1e87c1;
     border-radius: 0 0 5px 5px;
     opacity: 0.7;
     text-align: center;
     cursor: pointer;
}

#dropdown_menu li{
     padding: 20px;
     color: white;
     line-height: 20px;
     border-bottom: 2px solid white;
     /*height: 100px;*/
     font-size: 16px;

}

#dropdown_menu button{
     color: white;
     background-color: transparent;
     font-size: 16px;
     border: none;
     width: 100%;
     height: 100%;
     outline: none;
     cursor: pointer;

}

/*trip modal stylesheet*/
#overlay {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     z-index: 1000;
     background-color: rgba( 0, 0, 0, 0.5);
     display: flex; display: -webkit-flex;
}

#overlay > div {
     width: 500px;
     height: 500px;
     margin: 100px auto 100px auto;
     background-color: rgb(255, 255, 255);
     padding: 25px 15px 15px 50px;

}

#overlay > div > div{
     height: 400px;
     width: 400px;
}

#overlay h3{
     font-size: 2em;
     margin-left: 20px;
     margin-bottom: 20px;
     font-weight: bold;
     color: #1e87c1;
}

#overlay h4{
     font-size: 1.25em;
     font-style: italic;
     margin-left: 20px;
}


#modal_close{
	position: relative;
	float: right;
	border: none;
	background-color: white;
	font-weight: bold;
}

#trip_list{
     width: 100%;
     height: 90%;
     overflow: scroll;
     margin-top: 20px;
     /*margin-left: 20px;*/
}

#make_trip_content{
     display: none;
     width: 100%;
     flex-direction: column; -webkit-flex-direction: column;
}

#make_trip_content h5{
     padding: 10px 0 10px 0;
     margin-left: 20px;
}

#make_trip_content input{
     width: 300px;
     font-size: 1.25em;
     margin-left: 20px;
}

#make_trip_content button{
     width: 80px;
     margin-top: 20px;
     margin-left: 20px;
     padding: 5px;
     font-size: 1.25em;
     border-radius: 10px;
     background-color: #1e87c1;
     color: white;
     border: none;
     cursor: pointer;
}

#view_trips, #add_trip{
     cursor: pointer;
}


.trip_card{
     background-color: #425061;
     color: white;
     padding: 15px 25px 15px 25px;
     margin-bottom: 10px;
     border-radius: 15px;
}



.trip_card_selected{
     background-color: #1e87c1;
     color: white;
     padding: 15px 25px 15px 25px;
     margin-bottom: 10px;
     border-radius: 15px;
     
}


#trip_list li:first-child{
     font-size: 25px;
     margin-bottom: 10px;
     font-weight: bold;
}

#trip_list li:nth-child(2){
     font-size: 20px;
     margin-bottom: 10px;
}

#trip_list li:nth-child(3){
     font-size: 20px;
     margin-bottom: 10px;
     font-style: italic;
}



/*dark blue #2f3743
2nd dark blue #425061
blue #1e87c1
light grey #d6dde0
red #F33533
green #98C06A*/






/*suggestion modal*/
#suggestion_modal {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     z-index: 1000;
     background-color: rgba( 0, 0, 0, 0.5);
     display: flex; display: -webkit-flex;
}

#suggestion_modal > div {
     width: 500px;
     height: 450px;
     margin: auto;
     background-color: rgb(255, 255, 255);
     padding:30px 40px 15px 50px;
}


#suggestion_modal h3{
     font-size: 2em;
     font-weight: bold;
     margin-top: 15px;
     margin-bottom: 30px;
     color: #1e87c1;
}

#suggestion_input{
     display: flex; display: -webkit-flex;
     flex-direction: column; -webkit-flex-direction: column;
}

#suggestion_input p{
     margin-bottom: 15px;
}

#suggestion_input input{
     width: 300px;
     font-size: 1.25em;
     margin-bottom: 25px;
     outline: none;
}

#suggestion_submit{
     width: 100px;
     outline: none;
     border: none;
     border-radius: 5px;
     font-size: 1em;
     padding: 5px;
     background-color: #1e87c1;
     color: white;
     font-size: 1.25em;
}

#suggestion_close{
     position: relative;
     float: right;
     border: none;
     background-color: white;
     font-weight: bold;
}



/*dark blue #2f3743
2nd dark blue #425061
blue #1e87c1
light grey #d6dde0
red #F33533
green #98C06A*/




/*comment modal*/
#category_modal {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     z-index: 1000;
     background-color: rgba( 0, 0, 0, 0.5);
     display: flex; display: -webkit-flex;
}

#category_modal > div {
     width: 500px;
     height: 400px;
     margin: auto;
     background-color: rgb(255, 255, 255);
     padding:30px 40px 15px 50px;
}

#category_modal h2{
     font-size: 2em;
     margin-bottom: 50px;
     font-weight: bold;
     color: #1e87c1;
}

#category_close{
     position: relative;
     float: right;
     border: none;
     background-color: white;
     font-weight: bold;
}

#category_input{
     display: flex; display: -webkit-flex;
     flex-direction: column; -webkit-flex-direction: column;
}

#category_input h3{
     font-size: 1.25em;
     margin-bottom: 20px;
}

#category_title{
     width: 250px;
     font-size: 1.25em;
     margin-bottom: 30px;
}

#category_title:focus{
     outline: none;
}

#category_submit{
     width: 100px;
     outline: none;
     border: none;
     border-radius: 5px;
     font-size: 1em;
     padding: 5px;
     background-color: #1e87c1;
     color: white;
     font-size: 1.25em;
}




/*friend modal*/
#friend_modal {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     z-index: 1000;
     background-color: rgba( 0, 0, 0, 0.5);
     display: flex; display: -webkit-flex;
}

#friend_modal > div {
     display: flex; display: -webkit-flex;
     flex-direction: column; -webkit-flex-direction: column;
     width: 500px;
     height: 600px;
     margin: auto;
     background-color: rgb(255, 255, 255);
     padding:30px 40px 15px 50px;
}

#friend_modal > div > div{
      overflow:hidden;
      word-wrap:break-word;
}


.invite_section{
     margin-bottom: 60px;
     width: 400px;
}

.invite_section p{
     font-weight: bold;
     margin-bottom: 20px;
}


#friend_close{
     position: relative;
     width: 20px;
     align-self: flex-end; -webkit-align-self: flex-end;
     border: none;
     font-weight: bold;
}

#friend_close button{
     outline: none;
     border: none;
     background-color: white;
     font-weight: bold;
     /*margin-bottom: 40px;*/
}


#friend_modal h2{
     font-size: 2em;
     margin-bottom: 50px;
     font-weight: bold;
     color: #1e87c1;
}

/*dark blue #2f3743
2nd dark blue #425061
blue #1e87c1
light grey #d6dde0
red #F33533
green #98C06A*/


#friend_modal h3{
     font-size: 1.5em;
     margin-bottom: 20px;
}


#found_friends{
     height: 20px;
}

#friend_input{
     display: flex; display: -webkit-flex;
     flex-direction: column; -webkit-flex-direction: column;
}


#find_friend_submit{
     width: 100px;
     outline: none;
     border: none;
     border-radius: 5px;
     font-size: 1em;
     padding: 5px;
     background-color: #1e87c1;
     color: white;
     font-size: 1.25em;
}


#friend_input input{
     width: 350px;
     margin-bottom: 20px;
     font-size: 1.25em;
}

#friend_input input:focus{
     outline: none;
}

.invite_section{

}

#invite_url{
     color: #1e87c1;
     /*text-decoration: none;*/
     font-weight: bold;
     line-height: 20px;
}



/*suggestion modal*/
#edit_modal {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     z-index: 1000;
     background-color: rgba( 0, 0, 0, 0.5);
     display: flex; display: -webkit-flex;
}

#edit_modal > div {
     width: 500px;
     height: 475px;
     margin: auto;
     background-color: rgb(255, 255, 255);
     padding:30px 40px 15px 50px;
}




#edit_modal h3{
     font-size: 2em;
     margin-bottom: 50px;
     font-weight: bold;
     color: #1e87c1;
}

#edit_input{
     display: flex; display: -webkit-flex;
     flex-direction: column; -webkit-flex-direction: column;
}

#edit_input p{
     margin-bottom: 15px;
}

#edit_input input{
     width: 300px;
     font-size: 1.25em;
     margin-bottom: 25px;
}


#edit_close{
     position: relative;
     float: right;
     border: none;
     background-color: white;
     font-weight: bold;
}

#suggestion_edit{
     width: 100px;
     outline: none;
     border: none;
     border-radius: 5px;
     font-size: 1em;
     padding: 5px;
     background-color: #1e87c1;
     color: white;
     font-size: 1.25em;
}

#suggestion_delete{
     /*width: 100px;*/
     /*float: right;*/
     outline: none;
     border: none;
     border-radius: 5px;
     padding: 5px 20px;
     background-color: #F33533; /*red*/
     color: white;
     font-size: 1.25em;
     /*margin-left: 100px;*/
}



/*suggestion modal*/
#edit_comment_modal {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     z-index: 1000;
     background-color: rgba( 0, 0, 0, 0.5);
     display: flex; display: -webkit-flex;
}

#edit_comment_modal > div {
     width: 500px;
     height: 250px;
     margin: auto;
     background-color: rgb(255, 255, 255);
     padding:30px 40px 15px 50px;
}

#edit_comment_modal h3{
     font-size: 2em;
     margin-bottom: 25px;
     font-weight: bold;
     color: #1e87c1;
}

#comment_edit_input{
     display: flex; display: -webkit-flex;
     flex-direction: column; -webkit-flex-direction: column;
}

#comment_edit_input p{
     margin-bottom: 10px;
}

#comment_edit_input input{
     width: 300px;
     font-size: 1.25em;
     margin-bottom: 25px;
}


#edit_comment_close{
     position: relative;
     float: right;
     border: none;
     background-color: white;
     font-weight: bold;
}


#comment_edit{
     width: 100px;
     outline: none;
     border: none;
     border-radius: 5px;
     font-size: 1em;
     padding: 5px;
     background-color: #1e87c1;
     color: white;
     font-size: 1.25em;
}



/*trip modal stylesheet*/
#platupi_overlay {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     z-index: 1000;
     background-color: rgba( 0, 0, 0, 0.5);
     display: flex; display: -webkit-flex;
}

#platupi_overlay > div {
     width: 775px;
     background-color: white;
     padding: 20px;
     margin: auto;
     display: flex; display: -webkit-flex;
     flex-direction: column; -webkit-flex-direction: column;
     align-items: center; -webkit-align-items: center;
}


#close_platupi{
     /*position: relative;*/
     border: none;
     background-color: white;
     font-weight: bold;
     width: 15px;
     align-self: flex-end; -webkit-align-self: flex-end;
}


#platupi_overlay > div > div{
     margin: auto;
     display: flex; display: -webkit-flex;
}

#platupi{
     margin: auto;
}

#platupi_overlay h2{
     font-size: 2em;
     margin-bottom: 20px;
     font-weight: bold;
     color: #1e87c1;
}
.platupus{
     width: 125px;
     height: auto;
     margin: 10px;
     border: 3px solid lightgrey;
}

.taken_platupus{
     width: 125px;
     height: auto;
     margin: 10px;
     border: 3px solid lightgrey;
}

#platupi_overlay button:last-child{
     width: 200px;
     outline: none;
     border: none;
     border-radius: 5px;
     font-size: 1em;
     padding: 10px 15px 10px 15px;
     background-color: #1e87c1;
     color: white;
     font-size: 1.25em;
}
