/*dark blue #2f3743
2nd dark blue #425061
blue #1e87c1
light grey #d6dde0
red #F33533
green #98C06A*/


body, html{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
	width: 100%;
	height: 100%;
	font-family: 'Oxygen', sans-serif;
}



*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  -webkit-font-smoothing: subpixel-antialiased;
  }


/*modals*/

#beta_modal{
     visibility: hidden;
     position: fixed;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     z-index: 1000;
     background-color: rgba( 0, 0, 0, 0.5);
     display: flex; display: -webkit-flex;
}

#beta_modal > div {
     width: 500px;
     height: 350px;
     margin: auto;
     background-color: rgb(255, 255, 255);
     /*padding: 25px 15px 15px 50px;*/
     /*display: flex; display: -webkit-flex;*/
}

#beta_content{
	/*margin: auto;*/
	text-align: center;
	display: flex; display: -webkit-flex;
	width: 100%;
	height: 100%;
	/*flex-direction: column;*/
}

#beta_content > div{
	margin: auto;
}

#beta_close{
	position: relative;
	float: right;
	border: none;
	background-color: white;
	font-weight: bold;
}

#beta_content h3{
	font-size: 2em;
	/*width: 80%;*/
	padding: 0 50px;
	color: #1e87c1;
	margin-bottom: 40px;
}

#beta_content h4{
	font-size: 1.25em;
}




#note_modal{
     visibility: hidden;
     position: fixed;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     z-index: 1000;
     background-color: rgba( 0, 0, 0, 0.5);
     display: flex; display: -webkit-flex;
}

#note_modal > div {
     width: 500px;
     height: 300px;
     margin: auto;
     background-color: rgb(255, 255, 255);
     /*padding: 25px 15px 15px 50px;*/
     text-align: center;
     /*display: flex; display: -webkit-flex;*/

}

#note_area{
	display: flex; display: -webkit-flex;
	/*flex-direction: column;*/
	margin: auto;
	width: 100%;
	height: 100%;
}

#note_area > div{
	margin: auto;
}

#note_area h4{
	font-size: 2.5em;
	margin-bottom: 30px;
	color: #1e87c1;
}

#note_area p{
	font-size: 1.5em;
}

#note_close{
	position: relative;
	float: right;
	border: none;
	background-color: white;
	font-weight: bold;
}




#login_modal{
     visibility: hidden;
     position: fixed;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     z-index: 1000;
     background-color: rgba( 0, 0, 0, 0.5);
     display: flex; display: -webkit-flex;
}



#login_modal > div {
     width: 500px;
     height: 400px;
     margin: auto;
     background-color: rgb(255, 255, 255);
     padding: 25px;
     /*text-align: center;*/
     /*display: flex; display: -webkit-flex;*/

}


#login_div h2{
	font-size: 2em;
	margin: 20px 0;
}

#login_div h3{
	font-size: 1em;
	color: #F33533;
}

#login_div label{
	font-size: 1.25em;
	margin-bottom: 10px
}

#login_div input{
	margin-bottom: 20px;
	font-size: 1.5em;
	width: 400px;
}

#login_div button{
	font-size: 1em;
	width: 100px;
	margin-bottom: 40px;
	background-color: #1e87c1;
	border: none;
	outline: none;
	color: white;
	padding: 10px;
}



#login_div{
	display: flex; display: -webkit-flex;
	flex-direction: column;
}

#login_div > form{
	display: flex; display: -webkit-flex;
	flex-direction: column;	
}


#login_close{
	position: relative;
	float: right;
	border: none;
	background-color: white;
	font-weight: bold;
}





/*end modals*/

#intro{
	width: 100%;
	height: 100%;
	background-image: url(../images/splash/cover/travel_14.jpg);
	background-size: 100%; 
	background-position: center;
	background-attachment: fixed;
	/*display: flex; display: -webkit-flex;*/

}

#intro > nav{
	width: 100%;
	height: 10%;
	background-color: #1e87c1;
	/*opacity: 0.9;*/
	display: flex; display: -webkit-flex;
}



/*this is the logo*/
#intro nav ul:first-child{
	width: 10%;
	display: flex; display: -webkit-flex;
}

#intro nav ul:first-child > li{
	height: 100%;
	margin: auto 0 auto 20px;
}

#intro nav img{
	height: 90%;
	width: auto;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}


/*this is the nav*/
#intro nav ul:nth-child(2){
	width: 90%;
	display: flex; display: -webkit-flex;
	justify-content: flex-end;
}

#intro nav ul:nth-child(2) > li{
	align-self: flex-end;
	padding: 15px 20px;
}


#intro li > a{
	color: white;
	text-decoration: none;
}

#intro li{
	color: white;
	cursor: pointer;
}

#heading{
	width: 100%;
	height: 90%;
}

#heading > div:first-child{
	width: 100%;
	height: 75%;
	display: flex; display: -webkit-flex;
}

#heading > div:first-child > div{
	margin: auto;
	text-align: center;
}

#heading h1{
	font-size: 8em;
	color: white;
	margin-bottom: 20px;
	/*margin: auto;*/
}

#heading h2{
	font-size: 3em;
	color: white;
	margin-bottom: 15px;
	/*margin: auto;*/
}





#beta_apply{
	width: 100%;
	height: 25%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex; display: -webkit-flex;
}

#beta_apply > div{
	margin: auto;
	text-align: center;
}


#beta_apply h3{
	color: white;
	font-size: 2em;
	margin-bottom: 20px;
}

#beta_apply input{
	font-size: 1em;
	padding: 10px;
	margin: 0;
	border: none;
}


.red_button{
	color: white;
	background-color: #F33533;
	font-size: 1em;
	border: none;
	padding: 10px 15px;
	/*border-radius: 5px;*/
}

.blue_button{
	color: white;
	background-color: #1e87c1;
	font-size: 1em;
	border: none;
	padding: 10px 15px;
	/*border-radius: 5px;*/
}



/*green band*/
.band_green{
	width: 100%;
	height: 5px;
	background-color: #98C06A; 
}

.band_blue{
	width: 100%;
	height: 5px;
	background-color: #1e87c1; 	
}



.third{
	width: 100%;
	height: 75%;
	display: flex; display: -webkit-flex;
}

.third img{
	height: 70%;
	width: auto;
}

.text_div{
	width: 60%;
	height: 100%;
	text-align: center;
	display: flex; display: -webkit-flex;
}

.text_div > h1{
	margin: auto;
	font-size: 3.5em;
	width: 70%;
}

.image_div{
	width: 40%;
	height: 100%;
	display: flex; display: -webkit-flex;
}

.image_div >img{
	margin: auto;
}


/*dark blue #2f3743
2nd dark blue #425061
blue #1e87c1
light grey #d6dde0
red #F33533
green #98C06A*/


#one{
	/*background-color: #d6dde0;*/
	color: #425061;
}

#one img{
	-moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

#two{
	color: white;
	background-color: #98C06A;
}



#three{


	/*background-image: */
	background-image: url(../images/splash/cover/travel_14.jpg);
	background-size: 100%; 
	background-position: center;
	background-attachment: fixed;
	display: flex; display: -webkit-flex;
	color: white;
}

#three img{
-moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

#four{

	/*background-color: #98C06A;*/
	color: #425061;
}

/*
#signup{
	width: 100%;
	height: 20%;
	background-color: red;
}*/

#contact_us{
	width: 100%;
	height: 40%;
	background-color: #98C06A;
	display: flex; display: -webkit-flex;
	flex-direction: column;
	text-align: center;
}

#contact_us > div{
	margin: auto;
	align-items: center;
}



#contact_us h3{
	font-size: 2em;
	color: white;
	margin-bottom: 20px;
}

#contact_us input{
	font-size: 1em;
	padding: 10px;
	margin-bottom: 20px;
	/*margin: 0;*/
	border: none;
	width: 225px;
}

#contact_us > div > div:nth-child(3){
	display: flex; display: -webkit-flex;
	align-items: flex-end;
}

#contact_us textarea{
	width: 450px;
	height: 150px;
	font-size: 1em;
	margin-left: 100px;
	margin-right: 20px;
	outline: none;
	border: none;
	padding: 10px;
}

#contact_us button{

}

footer{
	width: 100%;
	height: 30%;
	background-color: #425061;
	display: flex; display: -webkit-flex;
	/*flex-direction: column;*/
}

footer > div{
	margin: auto;
	text-align: center;
}

footer > div > div:first-child{
	margin-bottom: 20px;
}

footer a{
	color: white;
	padding: 7px;
}

footer h4{
	color: white;
}

footer h4 > span{
	margin-right: 5px;
}