* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html, body{
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}

a{
	color: inherit;
	text-decoration: none;
}

#heading_container{
	width: 100%;
	height: 12%;
	display: flex;
	background-color: #A8A8A8; 
}

#trip_container{
	background-color: #707070;
	width: 15%;
	height: 100%;
	display: flex;
}

#trip_container h1{
	font-size: 1.5em;
	font-weight: 600;
	margin: auto;
	color: white;
}


#heading_nav{
	background-color: #A8A8A8;
	width: 85%;
	height: 100%;
	color: #303030;
	display: flex;
	flex-direction: row-reverse;
}

#heading_nav ul{
	display: flex;
	margin-right: 30px;
}

#heading_nav ul li{
	margin: auto 5px auto 5px;
}

#heading_nav span{
	margin-right: 20px;
}

#heading_nav img{
	height: 60px;
	border-radius: 30px;
	border: 3px solid white;
}

#main_container{
	width: 100%;
	height: 88%;
	background-color: #E0E0E0;
	display: flex;
}

#main_container > nav{
	width: 15%;
	height: 100%;
	background-color: purple;
	display: flex;
	flex-direction: column;
	display: inline-block;
}


#main_nav{
	width: 100%;
	height: 75%;
	background-color: #303030;
	overflow: scroll;
	color: white;
}


#main_nav h1{
	font-size: 1.25em;
	margin-left: 5px;
	padding: 20px 0 0 15px;
	font-weight: bold;
}

#main_nav h2{
	font-size: 1em;
	margin-left: 10px;
	padding: 8px 0 8px 30px;
}

#main_nav h3{
	font-size: .75em;
	padding: 8px 0 10px 20px;
	color: #7A7A7A;
}

#main_nav h4{
	font-size: .75em;
	padding: 0 0 0 40px; 
	text-decoration: underline;
}

.nav_clicked{
	background-color: orange; 
	border-radius: 30px;
	width: 90%;
}



#calendar{
	height: 25%;
	background-color: #303030;
	display: flex;
}


#calendar img{
	width: 100%;
	align-self: center;
}


#suggestions{
	width: 45%;
	/*min-width: 500px;*/
	height: 100%;
	background-color: #C0C0C0;
	display: flex;
	flex-direction: column;
}

#suggestion_header{
	display: flex;
	width: 100%;
	height: 15%;
	/*margin-bottom: 50px;*/
	/*background-color: orange;*/
}

#suggestion_header h1{
	margin: auto;
	color: white;
	font-size: 1.5em;
	/*font-weight: bold;*/
	font-style: italic;
	display: flex;
}

/*#suggestion_header span{
	color: white;
	font-size: 0.75em;
	margin: auto 0 auto 15px;
}*/

#suggestion_content{
	background-color: #C0C0C0;
	height: 85%;
	overflow: scroll;
/*	display: flex;
	flex-direction: column;*/
}

.suggestion_card{
	background-color: grey;
	height: 150px;
	display: flex;
	border-bottom: 2px solid white;
	border-radius: 30px;
	/*margin-bottom: 30px;*/
	width: 80%;
	margin: 0 auto 30px auto;
}


.suggestion_info{
	height: 100%;
	display: flex;
	width: 70%;
	/*background-color: red;*/
}

.suggestion_info div{
	margin: auto 0 auto 0;
	margin-left: 100px;
	/*width: 80%;*/
}

.suggestion_info h1{
	color: #303030;
	font-size: 1.25em;
	font-weight: bold;
	margin-bottom: 8px;
}

.suggestion_info h2{
	color: #AAAAAA;
	font-style: italic;
	margin-bottom: 8px;
}

.suggestion_info h3{
	color: #303030;
	font-weight: light;
}

.suggestion_voting{
	display: flex;
}

.suggestion_voting > div{
	margin: auto 0 auto 0;
	display: flex;
}

.suggestion_voting > div > div{
	margin-right: 15px;
}

.suggestion_voting h2{
	padding: 7px;
	font-size: 1.25em;
}



.green{
	color: #004e00;
}

.red{
	color: #ff4d4d;
}


/*when a suggestion is clicked*/
.suggestion_clicked{
	background-color: #5a5a5a;
}






#comments_container{
	width: 40%;
	/*background-color: #E0E0E0;*/
	height: 100%;
	display: flex;
	flex-direction: column;
}

#comment_suggestion{
	width: 95%;
	height: 200px;
	background-color: white;
	display: flex;
	flex-direction: column;
	border-radius: 30px;
	margin: 20px auto 20px auto;

}

#comment_suggestion_info{
	display: flex;
	justify-content: space-between;
	width: 100%;

	visibility: hidden;
}

#comment_suggestion_info p{
	padding: 20px 25px 5px 25px;
}



#comment_suggestion_content{
	display: flex;
	height: 80%;
	padding: 10px;
	/*margin: auto;*/
	visibility: hidden;
}

#comment_suggestion_content > :first-child{
	width: 20%;

	/*background-color: red;*/
	/*display: flex;*/
}


#comment_suggestion_content img{
	width: 90px;
	border-radius: 50px;
	margin-top: 10px;
	margin-left: 15px;
	border: 3px solid grey;
	/*margin: auto;*/
}

#comment_suggestion_content > :nth-child(2){
	width: 55%;
	/*background-color: orange;*/
	/*padding: 0 10px 0 10px;*/
	padding: 0 20px 0 20px;

}

#comment_suggestion_content > :nth-child(2) > p{
	margin-bottom: 15px;
	font-style: italic;

}

#comment_suggestion_content > :nth-child(2) > a{
	background-color: orange;
	color: white;
	border-radius: 15px;
	font-size: 1em;
	padding: 5px 10px 5px 10px
}

#comment_suggestion_content > :nth-child(3){
	width: 25%;
	/*background-color: yellow;*/
	display: flex;
	align-items: center;
}


#comment_suggestion_content > :nth-child(3) div{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
}






/*generated comments*/
#comments{
	width: 100%;
	height: 65%;
	overflow: scroll;
	/*background-color: grey;*/
}

#comments > :nth-child(even){
	background-color: white;
}

#comments > :nth-child(odd){
	background-color: lightgrey;
}

.comment_card{
	/*background-color: #e2e2e2;*/
	width: 80%;
	/*height: 150px;*/
	display: flex;
	margin: 0 auto 20px auto;
	border-radius: 40px;
	/*padding: 20px 0 20px 0;*/
	padding: 20px;
	/*border-bottom: 2px solid white;*/
}

.comment_card > :first-child{
	width: 20%;
	display: flex;
}

.comment_card img{
	height: 60px;
	border-radius: 30px;
	border: 3px solid #707070;
	margin: auto;
}

.comment_card > :nth-child(2){
	width: 85%;
	display: flex;
}

.comment_card > :nth-child(2) > div{
	margin: auto;
	padding: 10px;
	width: 100%;
	/*display: flex;*/
}

.comment_card > :nth-child(2) > div > div{
	/*margin: auto;*/
	/*padding: 10px;*/
	display: flex;
	justify-content: space-between;
	padding-right: 20px;
	margin-bottom: 10px;
}

.comment_info h2{
	margin-bottom: 10px;
	font-style: italic;
}

.comment_info h3{
	color: #303030;
}

#comment_input{
	height: 10%;
	background-color: grey;
	display: flex;
}

#comment_input div{
	margin: auto;
	display: flex;
	align-items: center;

}

#comment_input textarea{
	width: 400px;
	font-size: 1.15em;
	margin-right: 20px;
	border: none;
	resize: none;
	text-align: center;
	border-radius: 5px;
}

#comment_input button{
	font-size: 2em;
	color: white;
	background-color: orange;
	border: none;
	border-radius: 10px;
	padding: 3px;
	width: 50px;
	border: 2px solid white;

}