/*remember to go in to make display none 
the right segments :)
*/

/*colors*/

/*dark blue #2f3743
2nd dark blue #425061
blue #1e87c1
light grey #d6dde0
red #f0576b
green #c8e2af*/

body, html{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
	width: 100%;
	height: 100%;
	font-family: 'Oxygen', sans-serif;
	
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  -webkit-font-smoothing: subpixel-antialiased;
  }


#template{
	width: 100%;
	height: auto;
	position: absolute;
	z-index: -1000;
	opacity: 0.5;
}


/*header*/
#heading_container{
	width: 100%;
	height: 13%;
	background-color: #1e87c1;/*blue*/
	display: flex; display: -webkit-flex;
}

#trip_container{
	width: 18%;
	height: 100%;
	background-color: #425061;
	display: flex; display: -webkit-flex;
}

#trip_container h1{
	margin: auto;
	color: white;
	font-size: 2.25em;
	font-weight: bold;
}


#current_trip > span{
	margin-left: 10px;
}


#heading_nav{		
	width: 80%;
}


#heading_nav{
	display: flex; display: -webkit-flex;
	justify-content: flex-end; -webkit-justify-content: flex-end;
}

#heading_nav ul{
	display: flex; display: -webkit-flex;
	list-style-type: none;
	margin: auto 35px auto 0;
}

#heading_nav li{
	margin: auto 7px auto 7px;
	color: #2f3743; /*dark blue*/
}

.background_button{
	width: 50px;
	height: 50px;
	background-color: white;
	padding: 10px;
	border-radius: 50px;
	display: flex; display: -webkit-flex;
}

.background_button > span{
	margin: auto;

}

#heading_nav img{
	width: 70px;
	border-radius: 50px;
	border: 3px solid #2f3743; /*dark blue*/
	background-color: white;
}






/*main container*/
#main_container{
	width: 100%;
	height: 87%;
	display: flex; display: -webkit-flex;
}

#main_container nav{
	width: 18%;
	height: 100%;
	background-color: #2f3743; /*dark blue*/
	display: flex; display: -webkit-flex;
	color: white;
}

/*hidden fields*/
#group_chat{
	display: none;
	/*visibility: hidden;*/
}

#categories_nav{
	display: none;
}

#friends_nav{
	display: none;
}

/*main nav*/
#main_nav{
	margin: 0 auto 0 auto;
	padding-top: 20px;
	width: 70%;
}


#main_nav h1{
	margin: 0 0 10px 0;
	font-size: 1.75em;
	font-weight: bold;
	padding: 10px 5px 10px 10px;
}

.group_clicked{
	background-color: #1e87c1;
	padding: 10px 5px 10px 10px;
}


#main_nav h2{
	margin: 0 0 0 30px;
	font-size: 1.25em;
	padding: 10px;

}

.nav_clicked{
	background-color: #1e87c1;
	padding: 10px;
	border-radius: 30px;
}

#main_nav h3{
	margin: 0 0 15px 10px;
	padding: 0;
	font-size: 0.75em;
	font-family: 'Gabriela', serif;
	font-weight: lighter;
	font-style: italic;
}




#suggestions{
	width: 35%;
	height: 100%;
	background-color: #425061;
}



#suggestion_header{
	width: 100%;
	height: 15%;
	margin-top: 0;
	margin-bottom: 10px;
	display: flex; display: -webkit-flex;
}

#suggestion_header h1{
	color: white;
	font-size: 1.25em;
	margin: auto;
	font-weight: lighter;
	font-style: italic;
	font-family: 'Gabriela', serif;
	visibility: hidden;
}

#suggestion_content{
	height: 83%;
	overflow: scroll;
}


.suggestion_card{
	width: 90%;
	height: 150px;
	background-color: #2f3743;
	border-radius: 40px;
	margin: 0 auto 20px auto;
	color: white;
	font-family: 'Oxygen', sans-serif;
	display: flex; display: -webkit-flex;
}

.suggestion_clicked{
	background-color: #1e87c1;
}

.suggestion_info{
	width: 60%;
	height: 100%;
	display: flex; display: -webkit-flex;
}

.suggestion_info > div{
	margin: auto 0 auto 40px;
	display: flex; display: -webkit-flex;
	flex-direction: column; -webkit-flex-direction: column;
	width: 100%;
}

.suggestion_info h1{
	font-size: 1.5em;
	margin: 0 0 15px 0;
}

.suggestion_info h2{
	font-weight: lighter;
	font-size: 1em;
	margin: 0 0 12px 0;
}

.suggestion_info h3{
	font-weight: lighter;
	font-style: italic;
	font-size: 0.75em;
	margin: 0 0 5px 0;
}

.suggestion_voting{
	width: 40%;
	height: 100%;
	display: flex; display: -webkit-flex;
}

.suggestion_voting > div{
	display: flex; display: -webkit-flex;
	margin: auto;
}

.suggestion_voting > div > div{
	margin: 10px;
	text-align: center;
	display: flex; display: -webkit-flex;
	flex-direction: column; -webkit-flex-direction: column;
}

.suggestion_voting span{
	margin-bottom: 10px;
}

.suggestion_voting h2{
	font-weight: lighter;
}

.edit_div{
	color: #425061;
	width: 15%;
	display: flex; display: -webkit-flex;

	
}
.suggestion_pencil{
	margin: 20px auto 0 auto;
}


.red{
	color: #f0576b;
}

.green{
	color: #c8e2af;
}



/*COMMENTS*/
#comments_container{
	width: 47%;
	height: 100%;
	background-color: #d6dde0;
	display: flex; display: -webkit-flex;
	flex-direction: column; -webkit-flex-direction: column;
}

#suggestion_voting{
	visibility: hidden;
}

#suggestion_avatar{
	visibility: hidden;
}

#comment_suggestion{
	background-color: white;
	width: 90%;
	height: 20%;
	min-height: 200px;
	margin: 20px auto 0 auto;
	border-radius: 30px;
	display: flex; display: -webkit-flex;
}

#comment_suggestion_info{
	visibility: hidden;
}

#comment_suggestion_content{
	visibility: hidden;
}

#suggestion_avatar{
	display: flex; display: -webkit-flex;
	width: 35%;
	height: 100%;
}

#suggestion_avatar > div{
	margin: auto;
	display: flex; display: -webkit-flex;
	flex-direction: column; -webkit-flex-direction: column;
	justify-content: space-around; -webkit-justify-content: space-around;
	align-items: center; -webkit-align-items: center;
}

#suggestion_avatar p{
	color: #d6dde0;
	font-style: italic;
}

#suggestion_avatar img{
	width: 100px;
	height: auto;
	border-radius: 50px;
	border: 5px solid #1e87c1;
	margin: 10px;
}

#suggestion_avatar a{
	background-color: #1e87c1;
	color: white; 
	padding: 5px 20px 5px 20px;
	border-radius: 10px;
	text-decoration: none;

}

#suggestion_voting{
	width: 60%;
	height: 100%;
	display: flex; display: -webkit-flex;
	flex-direction: column; -webkit-flex-direction: column;


}

#suggestion_voting > div{
	width: 100%;
	display: flex; display: -webkit-flex;
	margin: auto;
}

#suggestion_voting > div > div:first-child{
	width: 15%;
	display: flex; display: -webkit-flex;
}

#suggestion_voting > div > div:first-child > span{
	margin: auto;
}



.vote_images{
	width: 85%;
	display: flex; display: -webkit-flex;
}

.vote_images > div{
	width: 80%;
	margin: auto;
	flex-wrap: wrap; -webkit-flex-wrap: wrap;
}

.vote_images img{
	width: 40px;
	height: auto;
	background-color: white;
	border-radius: 30px;
	
}

#upvote_vote_images img{
	border: 3px solid #c8e2af;
}

#downvote_vote_images img{
	border: 3px solid #f0576b;
}


#comment_wrapper{
	width: 100%;
	overflow: scroll;
	height: 65%;
	padding-top: 10px;
}

#comments{
	display: flex; display: -webkit-flex;
	flex-direction: column; -webkit-flex-direction: column;

}



.comment_card{
	width: 80%;
	margin: 0 auto 20px auto;
	padding: 10px;
	display: flex; display: -webkit-flex;
	background-color: white;
	border-radius: 25px;

}

.comment_card > div:first-child{
	width: 20%;
	padding: 10px;
	display: flex; display: -webkit-flex;
}



.comment_info{
	width: 80%;
	padding: 10px;
}

.comment_info > div{
	padding: 10px;
}

.comment_card img{
	height: 60px;
	width: auto;
	background-color: white;
	border-radius: 40px;
	border: 3px solid #1e87c1;
	margin: 0 auto 0 auto;
}

.comment_card h2{
	font-weight: lighter;
	font-size: 1em;
	font-style: italic;
	margin-bottom: 20px;
	color: #d6dde0;
}

.comment_card h3{
	line-height: 1.15;
}


.comment_pencil{
	color: #d6dde0;
}

.edit_comment{
	color: #425061;
	width: 15%;
	display: flex; display: -webkit-flex;

	
}
.comment_pencil{
	margin: 20px auto 0 auto;
}


#comment_input{
	height: 15%;
	width: 100%;
	background-color: #2f3743;
	display: flex; display: -webkit-flex;
	visibility: hidden;
}

#comment_input > div{
	width: 100%;
	margin: auto;
	display: flex; display: -webkit-flex;

}



#comment_input textarea{
	height: 70px;
	width: 75%;
	border: none;
	resize: none;
	margin-left: auto;
	margin-right: 15px;
	outline: none;
	font-size: 1em;
}

#comment_input button{
	width: 70px;
	height: 70px;
	margin-right: auto;
	color: #1e87c1;
	border: none;
	background-color: #d6dde0;
}