	<div id = "archive_modal">
	     <div>
	     	<div>
	     		<button id = "archive_close">X</button>
	     	</div>
	     	<div id = 'archive_input'>
	     		<div id = 'archive_heading'>
	     			<h1>Archived Items</h1>
	     		</div>
	     		<div id = 'archived'>
<!-- 	     			<div class = 'archive_heading_card'>
	     				<h3>Archived Comments</h3>
	     			</div>
		     		<div class ='archive_card'>
		     			<h3>Suggestion Name: La Playa Hotel</h3>
		     			<p>Deleted Comment: No Way</p>
		     		</div>
		     		<div class ='archive_card'>
		     			<h3>Suggestion Name: La Playa Hotel</h3>
		     			<p>Deleted Comment: No Way</p>
		     		</div>
		     		<div class ='archive_card'>
		     			<h3>Suggestion Name: La Playa Hotel</h3>
		     			<p>Deleted Comment: No Way</p>
		     		</div>
		     		<div class ='archive_card'>
		     			<h3>Suggestion Name: La Playa Hotel</h3>
		     			<p>Deleted Comment: No Way</p>
		     		</div>
		     		<div class ='archive_card'>
		     			<h3>Suggestion Name: La Playa Hotel</h3>
		     			<p>Deleted Comment: No Way</p>
		     		</div>
		     		<div class ='archive_card'>
		     			<h3>Suggestion Name: La Playa Hotel</h3>
		     			<p>Deleted Comment: No Way</p>
		     		</div> -->
	     		</div>
	     	</div>
	     </div>
	</div>