	<div id = "edit_modal">
	     <div>
	     	<button id = "edit_close">X</button>
	     	<h3>Edit This Suggestion</h3>
	     	<div id = 'suggestion_input'>
	     		<p>Suggestion Title:</p>
		     	<input id = 'edit_title'>
		     	<p>Suggestion Note:</p>
		     	<input id = 'edit_about'>
		     	<p>Suggestion Link:</p>
		     	<input id = 'edit_link' type = 'url'>
	     	</div>
	     	<button id = 'suggestion_edit'>Update</button>
	     	<!-- <button id = 'suggestion_cancel'>Cancel</button> -->
	     </div>
	</div> 