<div id = 'platupi_overlay'>
	<div>
		<button id = "close_platupi">X</button>
		<div>
			<h2>Choose Your Avatar</h2>
		</div>
		<div>
			<div id = 'platupi'></div>
		</div>
		<button id = 'choose_avatar'>Change Avatar</button>
	</div>
</div>