	<div id = "category_modal">
	     <div>
	     	<button id = "category_close">X</button>
	     	<h2>Add New Category</h2>
	     	<div id = 'category_input'>
	     		<h3>Category Title:</h3>
	     		<input id = 'category_title'>
	     		<button id = 'category_submit'>Submit</button>
	     	</div>
	     </div>
	</div>