	<div id = "friend_modal">
	     <div>
	     	<button id = "friend_close">X</button>
	     	<h3>Add Friends to your Trip!</h3>
	     	<div id = 'friend_input'>
	     		<p>Friend Email:</p>
		     	<input id = 'friend_email'>
	     	</div>
	     	<button id = 'find_friend_submit'>Submit</button>
	     	<div id = 'found_friends'></div>
	     </div>
	     
	</div>