	<div id = "overlay">
	     <div>
	     	<button id = "modal_close">X</button>
	     		<div id = 'trip_content'>
			     	<h3>Your Trips</h3>
			     	<h4 id = 'add_trip'>+ Add a New Trip</h4>
			     	<ul id = 'trip_list'></ul>
		     	</div>
		     	<div id = 'make_trip_content'>
		     		<h3>Your Trips</h3>
		     		<h4 id = 'view_trips'>View Trips</h4>
		     		<h5>Location:</h5>
		     		<input id = 'trip_location'>
		     		<h5>Trip Name:</h5>
		     		<input id = 'trip_name'>
		     		<h5>Description:</h5>
		     		<input id = 'trip_description'>
		     		<h5>Start Date</h5>
		     		<input id = 'trip_start_date'>
		     		<h5>End Date</h5>
		     		<input id = 'trip_end_date'>
		     		<button id = 'trip_add'>Add</button>
		     	</div>
	     </div>
	</div>