	<div id = "map_suggestion_modal">
	     <div>
	     	<button id = "map_suggestion_close">X</button>
	     	<h3>Suggestion this Activity</h3>
	     	<div id = 'map_suggestion_category'>
	     		<!-- lists categories pintrest style -->
<!-- 	     		<div class = 'category_sug_card'>
	     			<h4>Food</h4>
	     			<button>Add It</button>
	     		</div>
	     		<div class = 'category_sug_card'>
	     			<h4>Nightlife</h4>
	     			<button>Add It</button>
	     		</div>

	     		<div class = 'category_sug_card'>
	     			<h4>Food</h4>
	     			<button>Add It</button>
	     		</div>
	     		<div class = 'category_sug_card'>
	     			<h4>Nightlife</h4>
	     			<button>Add It</button>
	     		</div>

	     		<div class = 'category_sug_card'>
	     			<h4>Food</h4>
	     			<button>Add It</button>
	     		</div>
	     		<div class = 'category_sug_card'>
	     			<h4>Nightlife</h4>
	     			<button>Add It</button>
	     		</div>

	     		<div class = 'category_sug_card'>
	     			<h4>Food</h4>
	     			<button>Add It</button>
	     		</div>
	     		<div class = 'category_sug_card'>
	     			<h4>Nightlife</h4>
	     			<button>Add It</button>
	     		</div> -->

	     	</div>
	     	<!-- <button id = 'map_suggestion_submit'>Submit</button> -->
	     </div>
	</div>