	<div id = "invite_modal">
	     <div>
	     	<button id = "invite_close">X</button>

	     	<h2>Invite your friends</h2>
		     	<h3>Cut and paste this url to invite friends to your trip:</h3>
	
		     	<a id = 'invite_url' target = blank href = ''></a>
	     </div>
	     
	</div>