	<div id = "edit_comment_modal">
	     <div>
	     	<button id = "edit_comment_close">X</button>
	     	<h3>Edit This Suggestion</h3>
	     	<h3>Make Edits Below</h3>
	     	<div id = 'comment_edit_input'>
	     		<p>Comment:</p>
		     	<input id = 'edit_comment'>
	     	</div>
	     	<button id = 'comment_edit'>Update</button>
	     	<button id = 'comment_cancel'>Cancel</button>
	     </div>
	</div> 