<div id = 'suggestion_modal'>
	<div>
		<div>
			<h3 id = 'suggestion_close'>X</h3>
		</div>
		<div id = 'suggestion_modal_container'>
			<div id = 'title_link'>
				<h3>Title</h3>
				<a href="http://hello.com" target = 'blank'>http://hello.com/</a>
			</div>
			<div>
				<div class = 'voting_cards upvote'>
					<div>
						<button class = 'upvote_button'>YES</button>
						<h3>Upvote</h3>
					</div>
					<div id = 'suggestion_modal_upvote'></div>
				</div>
				<div class = 'voting_cards downvote'>
					<div>
						<button class = 'downvote_button'>NO</button>
						<h3>Downvote</h3>
					</div>
					<div id = 'suggestion_modal_downvote'></div>
				</div>
			</div>
		</div>
	</div>
</div>