	<div id = "beta_modal">
	     <div>
	     	<button id = "beta_close">X</button>
		     <div id ='beta_content'>
		     	<div>
			     	<h3>Thank you for signing up for our Beta</h3>
			     	<h4>We'll contact you soon!</h4>
		     	</div>
		     </div>
	     </div>

	</div>