	<div id = "login_modal">
	    <div>
	     	<button id = "login_close">X</button>
		<div>
		<div id = 'login_div'>
			<h2>Sign In</h2>

			<form action = "users/session" method = "POST">
				<label>E-mail:</label>
				<input type = 'text' name = "email">
				<!-- type = 'email' -->
				<label>Password:</label>
				<input type = 'password' name = "password">
				<!-- <input type = "submit"> -->
				<button>Submit</button>
			</form>
			<h3>Don't have a login? Apply for our Beta!</h3>
		</div>
		</div>

	     </div>
	</div>