* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
}

body{
	width: 100%;
	height: 100%;
}

#login_page{
	width: 100%;
	height: 100%;
	background-color: #05B8CC;
	display: flex; display: -webkit-flex;
	font-family: sans-serif;
}

#login_page > div{
	width: 50%;
	height: 100%;
	display: flex; display: -webkit-flex;
	flex-direction: column; -webkit-flex-direction: column;
}

#login_page > div:first-child > div{
	margin: auto;
	text-align: center;
}

#login_page > div:first-child img{
	width: 60%;
}


#login_page > div:first-child h2{
	font-size: 3em;
	color: white;
}

#login_page > div:nth-child(2) > div{
	margin: auto;
	display: flex; display: -webkit-flex;
	flex-direction: column; -webkit-flex-direction: column;
}

#login_page > div:nth-child(2) h2{
	color: white;
	font-size: 2em;
	margin-bottom: 20px
}

#login_page > div:nth-child(2) label{
	color: white;
	font-size: 1.25em;
	margin-bottom: 10px
}

#login_page > div:nth-child(2) input{
	margin-bottom: 30px;
	width: 400px;
	font-size: 1.5em;
}

#login_page > div:nth-child(2) button{
	background-color: orange;
	color: white;
	font-size: 2em;
	border: none;
}

#login_page > div:nth-child(2) form{
	display: flex; display: -webkit-flex;
	flex-direction: column; -webkit-flex-direction: column;	
}






#logout{
	position: fixed;
	/*float: right;*/
	right: 0;
	margin: 20px 20px 0 0;
}

#logout button{
	background-color: white;
	border: 2px solid navy;
	padding: 8px;
	border-radius: 10px;
}



#dashboard{
	width: 100%;
	height: 100%;
	background-color: #05B8CC;
	display: flex; display: -webkit-flex;
}

#dashboard > div{
	width: 50%;
	height: 100%;
	display: flex; display: -webkit-flex;

}

#dashboard img{
	height: 100%;
	width: auto;
	margin: auto;
}

#dashboard h1{
	font-size: 5em;
	color: white;
	text-align: center;
	margin: auto;
	width: 80%;
}


.heading{
	height: 15%;
	width: 100%;
	background-color: #003366;
	display: flex; display: -webkit-flex;
}


.heading h1{
	/*text-align: center;*/
	color: white;
	font-size: 2em;
	margin: auto;
}

.body{
	width: 100%;
	height: 85%;
}


.table_style{
	border: 3px solid #05B8CC;
}

.table_style th{
	background-color: #05B8CC;
	padding: 10px 10px;
	font-size: 1.5em;
	text-align: left;
	border-right: 2px solid black;
}

.table_style td{
	padding: 10px 10px;
	border-right: 2px solid black;
}

.table_style tr:nth-child(even){
	background-color: #D3D3D3;
	font-size: 
}




#user{
	height: 100%;
	width: 100%;
	display: flex; display: -webkit-flex;
	flex-direction: column; -webkit-flex-direction: column;
}

#user_table{
	height: 85%;
	overflow: scroll;
	display: flex; display: -webkit-flex;
}

#user_table > div{
	margin: auto;
	width: 80%;
	height: 80%;
	overflow: scroll;
	/*border: 2px solid navy;*/
}





#user_table table{
	width: 100%;
}



#account_login{
	display: flex; display: -webkit-flex;
}

#account_login > div{
	margin: auto;
	width: 40%;
	height: 100%;
	display: flex; display: -webkit-flex;
}

#account_login > div > div{
	width: 100%;
	margin: auto;
}

#account_login table{
	width: 100%;
}

#account_login h2{
	font-family: sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	margin: 15px;
	text-align: center;
}




#trip_info{
	/*background-color: #05B8CC;*/
	display: flex; display: -webkit-flex;

}


#trip_info > div{
	/*width: 50%;*/
	/*border: 2px solid black;*/
	/*height: 100%;*/
	width: 50%;
	/*margin: auto;*/
	background-color: white;
	overflow: scroll;
	display: flex; display: -webkit-flex;
}

#trip_info > div:first-child > div{
	width: 100%;
	

}

#trip_info > div > div{
	width: 100%;
	/*border: 2px solid red;*/
	margin: 50px;
	/*margin: auto;*/
}

#trip_info h2{
	font-size: 1.5em;
	margin-bottom: 10px;
}



#beta_signup{
	width: 100%;
	height: 100%;
	background-color: yellow;
}

#beta_body{
	display: flex; display: -webkit-flex;
}

#beta_body > div{
	margin: auto;
	height: 80%;
	width: 60%;
	overflow: scroll;
}

#beta_email{
	width: auto;
	height: 80%;
}



#note_body{
	display: flex; display: -webkit-flex;
}

#note_body > div{
	overflow: scroll;
	width: 65%;
	height: 80%;
	margin: auto;
}

#note_body td:nth-child(4){
	width: 300px;
}